@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0d0d0e;
  color: white;
  font-family: Arial, sans-serif;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 20px;
}

h1 {
  font-size: 56px;
  color: #d4110bb1;
  margin-bottom: 20px;
}

h2 {
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 16px;
}

p {
  font-size: 20px;
  line-height: 1.6;
}

ul {
  margin-top: 16px;
  padding-left: 24px;
}

li {
  margin-bottom: 12px;
}

.watermark {
  position: fixed;
  inset: 0;
  background-image: url("/logo2526.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.20;
  pointer-events: none;
  z-index: -1;
}

/*[#e0131080]*/


